<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>nah ai</title>
</head>
<body>
    <div class="container">
        <h1 class="title">nah ai</h1>
        <div class="chat">
            <div class="user-chat"></div>
            <div class="input-row">
                <input type="text" class="user-input" id="user-input" placeholder="Type your message...">
                <button onclick="log()">Send</button>
            </div>
        </div>
        <footer>
            <span class="footer-text">Made by JakybDev</span>
        </footer>
    </div>
</div>
</body>
<script src="ai.js"></script>
</html>